@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
	margin: 0;
	z-index: 1;
	position:relative
}

header {
	z-index:2;
	position:relative;
}

.header-top {
	width:100%;
	height: 50px;
}

.header-left {
	float: left;
	margin-left: 50px;
}
.header-right {
	margin-right: 50px;
	font-size: 15px;
	float: right;
}
.header-right a {
	text-decoration:none;
	color : #0E191A;
}

.menu {
	width:1200px;
	font-size:20px;
	height:50px;
	margin: 25px 25px 0 25px;
	display : flex;
	justify-content: space-evenly;
}

.menu .nav .un {
	width: 50px;
	position: relative;
}

ul.nav > li {
	float:left;
    position: relative;
    width: 300px;
}

ul.nav>li, 
ul.nav>li a{
	color : #0E191A;
	text-decoration:none;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

ul.nav>li >ul.submenu {
	margin:0;
	text-decoration:none;
	width:100px;
	list-style:none;
	font-size:15px;
	display: none;
	z-index: 999;
}

ul.nav>li:hover .submenu{
	display:inline;
	position: relative;
	z-index: 999;
}
.submenu>li{
	background: white;
}
.submenu>li>span>a:hover{
	color:#084B27;
	font-weight: 700;
}

#container {
	width: 100%;
}
.main-container {
	background:#505050; /*구분 편의하게 넣어놓은 것입니다...*/
	height: 600px;
}

.main-content {
	padding: 30px;
}

.footer-area {
	border-top: 1px solid gray;
}

.footer-box {
	margin: 20px;
}

.footer-contact {
	margin-bottom: 10px;
}


